<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:task="http://www.springframework.org/schema/task"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd 
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd 
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd">
	
    <!-- 定义bean -->
 	<bean id="dataimport" class="com.fs.util.DataImport"/>
   
    <!-- 配置任务线性池 -->  
    <task:executor id="executor" pool-size="3" />  
    <task:scheduler id="scheduler" pool-size="3" /> 
     
    <!-- 开启定时任务 -->
    <task:annotation-driven scheduler="scheduler" executor="executor" proxy-target-class="true" />
    
 <!--   <task:scheduled-tasks scheduler="scheduler">  
        <task:scheduled ref="dataimport" method="process"  
            cron="0 0/1 * * * ?" />  
    </task:scheduled-tasks>  --> 

</beans>