body {
	font-family: "微软雅黑";
	padding: 0;
	margin: 0;
	overflow-x:hidden;
}

a {
	color: inherit;
	text-decoration: none !important;
}

.grzx-head {
	height: 60px;
	background: #3281DE;
}

.grzx-head-main {
	width: 1200px;
	margin: auto;
	position: relative;
	height: 60px;
}

.logo {
	position: absolute;
	left: 0px;
	top: 0px;
}

.logo img {
	height: 60px;
}

.grzx-head-menu {
	position: absolute;
	left: 200px;
}

.grzx-head-menu1 {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: #fff;
	padding: 0 15px;
	margin: 0;
	font-weight: 900;
	letter-spacing: 3px;
	font-size: 18px;
}

.active {
	background: #336FB6;
}

.grzx-main {
	position: relative;
	width: 1200px;
	margin: auto;
}


/*左侧*/

.grzx-left {
	display: inline-block;
	vertical-align: top;
}

.grzx-left-main {
	width: 250px;
}

.grzx-left-main-1 {
	width: 250px;
	height: auto;
	margin: 10px 0px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.grzx-left-main-1-head {
	background: #96C0F2;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 7px;
	border: 1px solid #96C0F2;
	border-bottom: none;
	color: #fff;
	font-weight: 900;
}

.grzx-left-main-1-main {
	border: 1px solid #EAEAEA;
	border-top: none;
}

.grzx-left-main-1-main div {
	padding: 5px 0px 5px 10px;
	position: relative;
}

.grzx-left-main-1-main div span {
	position: absolute;
	right: 10px;
	top: 5px;
}


/*标签云css开始*/

#tagbox {
	position: relative;
	margin: 0px auto 0px;
	width: 238px;
	height: 250px;
	/*background: #3a4954;*/
}

#tagbox a {
	position: absolute;
	padding: 3px 6px;
	font-family: Microsoft YaHei;
	color: #444;
	TOP: 0px;
	font-weight: bold;
	text-decoration: none;
	left: 0px
}

#tagbox a:hover {
	border: #eee 1px solid;
	background: #336FB6;
}

#tagbox .blue {
	color: blue
}

#tagbox .red {
	color: red
}

#tagbox .yellow {
	color: yellow
}


/*标签云css结束*/


/*存储空间进度条*/

.jindutiao {
	width: 250px;
	margin: auto;
	padding: 20px 10px 10px 10px;
	line-height: 30px;
	border: 1px solid #EAEAEA;
}

.progress {
	margin: 0;
}


/*页面右侧*/

.grzx-right {
	display: inline-block;
	width: 920px;
	margin-left: 20px;
}


/*上传按钮*/

.grzx-but-sc-xj {}

.grzx-but-sc,
.grzx-but-xj {
	display: inline-block;
	margin: 10px;
}

.grzx-but-sc button {
	background: #3281DE;
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 5px 10px;
}

.grzx-but-sc button img {
	width: 15px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
}

.grzx-but-sc button:hover {
	background: #336FB6;
}

.grzx-but-xj button {
	background-color: #FFFFFF;
	color: #444444;
	border-radius: 5px;
	border: 1px solid #EAEAEA;
	padding: 5px 10px;
	background-image: url(../img/xinjianwenjianjia-hui.png);
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 10px 6px;
	padding-left: 33px;
}

.grzx-but-xj button:hover {
	background-color: #336FB6;
	background-image: url(../img/xinjianwenjianjia.png);
	color: #fff;
}
.grzx-but-reaches{
	
	margin:0px 0px 8px 10px;
}
.grzx-but-reaches a{
	color:#0066CC;
}
.btn.focus, .btn:focus, .btn:hover{
	color:#fff !important;
}

/*页面右侧  文件列表主要内容*/

.grzx-right-main {
	border: 1px solid #eaeaea;
	border-top: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* background:url(../img/no-content.jpg) no-repeat;
	min-height:700px;
	background-position:0px 50px; */
	margin-bottom:10px;
}

.grzx-right-main-title {
	background: #96C0F2 !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 0 7px;
	border: 1px solid #96C0F2;
	border-bottom: none;
	color: #fff;
	font-weight: 900;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	width: 918px;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 50px;
}
.grzx-right-main-title1 {
	background: #3281DE !important;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	padding: 10px 7px 0px 5px;
	border: 1px solid #96C0F2;
	border-bottom: none;
	color: #fff;
	font-weight: 900;
	height: 50px;
	/* line-height: 45px; */
	display: inline-block;
	width: 918px;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 50px;
}
.grzx-right-main-title1 button{
	padding:0px 15px;
	background:#fff;
	color:#444;
	border:none;
	border-radius:5px;
	margin:0px 0px 0 15px;
	line-height:25px;
}
.grzx-right-main-title1 button img{
	width:13px;
	display:inline-block;
	margin-right:5px
}

.grzx-right-wjm {
	display: inline-block;
	position: absolute;
	top:0px;
	left:45px;
	width: 55%;
}

.grzx-right-wjm label input[type="checkbox"] {
	opacity: 0;
	margin-right: 10px;
}

.checkboxbg {
	position: absolute;
	left: 10px;
	top: 15px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/checkbox.png);
	background-size: 15px 15px;
	z-index: 5;
}

.grzx-right-wjm img {
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-right: 10px;
}

.grzx-right-dx {
	display: inline-block;
	position: absolute;
	left:55%;
	top:0px;
	width: 15%;
}

.grzx-right-time {
	display: inline-block;
	position: absolute;
	width: 30%;
	left:70%;
	top:0;
}

.grzx-right-main-list {
	height: 50px;
	line-height: 45px;
	padding: 0px 7px;
	border-bottom: 1px solid #EAEAEA;
	background: #fff;
	display: inline-block;
	width: 918px;
	position: absolute;
	left: 0;
	top: 0;
	padding-left: 50px;
}

.grzx-right-main-list:hover {
	background: #F3F6FC;
}

.grzx-right-main-list input[type="text"] {
	height: 30px;
	line-height: 30px;
	border-radius: 2px;
	border: 1px solid #EAEAEA;
	padding: 0 5px;
}

.queren,
.quxiao {
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	background-repeat: no-repeat;
	border: none;
	display: inline-block;
	vertical-align: middle;
}

.queren {
	background-image: url(../img/queren-but.png);
	margin: 0px 8px;
}

.quxiao {
	background-image: url(../img/quexiao-but.png);
}

.grzx-right-main-list label {
	display: block;
}

label input[type="checkbox"] {
	display: inline-block;
	margin-right: 10px;
	opacity: 0;
}

input[type="checkbox"]:checked+span {
	background: url(../img/checked.png) no-repeat;
	background-size: 15px 15px;
}

input[type="checkbox"]:checked+span+div {
	background: #F3F6FC;
}

label {
	display: block;
	height: 45px;
}


/*右键菜单功能*/

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 9000;
	display: block;
}

#myMenu {
	position: absolute;
	display: none;
	z-index: 9999;
	background: #fff;
	border: 1px solid #eaeaea;
	width: 150px;
	height: 130px;
	box-shadow: 0px 0px 10px 3px #989898;
}

#textbox {
	background: #FFFFFF;
}

#myMenu td {
	cursor: pointer;
}

#myMenu table {
	width: 100%;
}

#myMenu tr {
	width: 100%;
	display: block;
	padding: 0px 15px 0px 35px;
	color: #536083;
	height: 30px;
	line-height: 30px;
}

.xiazai,
.shanchu,
.name,
.share {
	background-size: 15px 15px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.xiazai {
	background-image: url(../img/xiazai-hui.png);
}

.xiazai:hover {
	background-image: url(../img/xiazai.png);
}

.shanchu {
	background-image: url(../img/sahcnhu-hui.png);
}

.shanchu:hover {
	background-image: url(../img/sahcnhu.png);
}

.name {
	background-image: url(../img/chongmingming-hui.png);
}

.name:hover {
	background-image: url(../img/chongmingming.png);
}

.share {
	background-image: url(../img/fenxiang-hui.png);
}

.share:hover {
	background-image: url(../img/fenxiang.png);
}

#myMenu tr:hover {
	background-color: #3281DE;
	color: #fff;
}


/*注册页面css开始*/

.reg-title {
	height: 60px;
	background-color: #3281DE;
}

.reg-title-main {
	height: 60px;
	width: 1000px;
	margin: auto;
}

.reg-title-main img {
	height: 60px;
}

.reg-main {
	background: #FFFFFF;
	width: 700px;
	height: 700px;
	margin: auto;
	margin-top: 30px;
	box-shadow: 0px 0px 15px 5px #EAEAEA;
}

.reg-main-title {
	text-align: center;
	margin: 0 50px;
	line-height: 100px;
	font-size: 28px;
	font-weight: 900;
	color: #3281DE;
	border-bottom: 1px solid #EAEAEA;
}

.reg-main-con {
	width: 500px;
	margin: 50px auto;
	font-size: 18px;
	color: #555;
}

.reg-main-con-1 {
	margin: 15px 0px;
}

.reg-main-left {
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	text-align: right;
}

.reg-main-right input {
	width: 200px;
	height: 30px;
	margin-left: 20px;
	border-radius: 5px;
	border: 1px solid #EAEAEA;
	padding-left: 5px;
}

.reg-main-con-1-tishi {
	font-size: 14px;
	margin-left: 130px;
	color: #959393;
	margin-top: 10px;
}

.reg-but {
	background: #3281DE;
	border-radius: 5px;
	width: 200px;
	height: 40px;
	border: none;
	margin-left: 130px;
	color: #FFFFFF;
	font-size: 18px;
	margin-top: 30px;
}


/*表单验证css代码开始*/

.contact *:focus {
	outline: none;
}

.contact {
	width: 550px;
	height: auto;
	/*background: #f6f6f6;*/
	margin: auto;
	/*padding: 10px;*/
}

.contact ul {
	width: 500px;
	margin: 0 auto;
	padding: 0;
}

.contact ul li {
	/*border-bottom: 1px solid #dfdfdf;*/
	list-style: none;
	padding: 12px;
}

.contact ul li label {
	width: 100px;
	display: inline-block;
	float: left;
}

.contact ul li input[type=text],
.contact ul li input[type=password] {
	width: 200px;
	height: 25px;
	border: 1px solid #aaa;
	padding: 3px 8px;
	border-radius: 5px;
}

.contact ul li input:focus {
	border-color: #3281DE;
}

.contact ul li input[type=text] {
	transition: padding .25s;
	-o-transition: padding .25s;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
}

.contact ul li input[type=password] {
	transition: padding .25s;
	-o-transition: padding .25s;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
}

.contact ul li input:focus {
	/*padding-right: 70px;*/
}

.btn1 {
	position: relative;
	left: 40px;
	top: 20px;
}

.btn1 input[type="submit"] {
	width: 150px;
	height: 40px;
	border: none;
	background: #3281DE;
	color: #FFFFFF;
	border: 1px solid #3281DE;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 3px;
}

.btn1 input[type="reset"] {
	width: 150px;
	height: 40px;
	border: none;
	background: #FFFFFF;
	color: #3281DE;
	border: 1px solid #3281DE;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	letter-spacing: 3px;
	margin-left: 10px;
}

.tips {
	color: rgba(0, 0, 0, 0.5);
	padding-left: 10px;
	font-size: 14px;
	display: block;
	margin-top: 10px;
}

.tips_true,
.tips_false {
	padding-left: 10px;
}

.tips_true {
	color: #5BC92D;
}

.tips_false {
	color: #FE6603;
}


/*表单验证css代码结束*/


/*注册页面css结束*/


/*首页css开始*/

.index-head {
	width: 1200px;
	margin: 30px auto 0px auto;
	height: 60px;
	position: relative;
}

.index-logo {
	position: absolute;
	left: 0;
	top: 0;
}

.index-logo img {
	height: 60px;
}

.index-search {
	position: relative;
	left: 300px;
	width: 550px;
	height: 60px;
	display: inline-block;
}

.index-search input[type="text"] {
	width: 500px;
	height: 36px;
	border: 1px solid #DADADA;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-top: 10px;
	padding-left: 10px;
}

.index-search input[type="text"]:focus {
	outline: none;
	border-color: #92B4EB;
}

.index-search button {
	position: absolute;
	background-image: url(../img/search.png);
	width: 40px;
	height: 40px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center;
	top: 10px;
	right: 10px;
	border: none;
	background-color: #3281DE;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.index-search button:focus {
	outline: none;
}

.login-reg-g {
	height: 60px;
	width: 200px;
	display: inline-block;
	position: relative;
	left: 400px;
	vertical-align: top;
}

.index-login,
.index-reg {
	display: inline-block;
	width: 70px;
	height: 40px;
	border-radius: 5px;
	background: #3281DE;
	margin-top: 10px;
	color: #FFFFFF;
	text-align: center;
	line-height: 40px;
	margin-left: 20px;
}

.index-nav {
	height: 60px;
	background: #3281DE;
	margin-top: 20px;
}

.index-nav-main {
	width: 1200px;
	margin: auto;
	line-height: 60px;
	color: #fff;
	font-size: 18px;
	font-weight: 900;
	letter-spacing: 3px;
}

.index-content {
	border: 1px solid #000;
	margin: 20px auto 0 auto;
	width: 1200px;
}


/*轮播图css开始*/
.index-lunbotu{
	width: 840px;
	height: 450px;
}
.swiper-container {
	width: 100%;
	height: 100%;
	border: 1px solid #000;
}

.swiper-slide {
	background-position: center;
	background-size: cover;
}


/*轮播图css结束*/


/*首页css结束*/


/*下载页面css开始*/
.down-content{
	width: 1000px;
	background: #FFFFFF;
	/*height: 500px;*/
	margin: 20px auto 20px auto;
	padding: 10px;
}
.down-content-title{
	padding: 10px;
	position: relative;
}
.down-wjm{
	font-weight: bold;
	font-size: 16px;
}
.down-wjm img{
	width: 30px;
	display: inline-block;
	margin-right: 5px;
}
.down-sc{
	position: absolute;
	right: 10px;
	top:10px;
}
.down-sc button{
	padding: 5px 10px;
	border-radius: 5px;
	color: #FFFFFF;
	background: #3281DE;
	border: none;
	margin-right: 15px;
	
}
.down-sc button img{
	width: 15px;
}
.down-content-sub-title{
	
}
.down-content-sub-title ul{
	list-style: none;
	display: inline-block;
	float: right;
	padding: 0;
	margin: 15px 10px 15px 0px ;
}
.down-content-sub-title ul li{
	float: left;
	border-right: 1px solid #EAEAEA;
	display: inline-block;
	padding: 0px 15px;
	line-height: 15px;
}
.down-content-sub-title ul li:last-of-type{
	border-right: none;
}
.down-content-sub-title ul li img{
	display: inline-block;
	width: 15px;
	margin-right: 5px;
}
.down-content-main{
	border: 1px solid #EAEAEA;
	margin: 20px;
	text-align: center;
	padding: 150px 0px 40px 0px;
}
.down-content-main img{
	width: 65px;
}
.down-content-main p{
	line-height: 50px;
	font-size: 16px;
	color: #666666;
	font-weight: 900;
}
.down-content-main button{
	border: none;
	background: #3281DE;
	color: #FFFFFF;
	padding: 10px 20px;
	border-radius: 5px;
}
.share-time{
	color: #A39EB2;
	line-height: 50px;
	text-align: right;
}
.down-pinglun-xiangqing{
	font-weight: bold;
	font-size: 16px;
	margin: 20px ;
}

.down-pinglun-xiangqing img{
	width: 25px;
	display: inline-block;
	margin-right: 10px;
}
.down-pinglun  textarea{
	width: 940px;
	height: 60px;
	display: block;
	margin: 20px;
	padding: 10px;
	line-height: 20px;
}
.pinglun-but{
	background:#E24C37 ;
	border: none;
	color: #FFFFFF;
	border-radius: 5px;
	padding: 8px 25px;
	float: right;
	margin-right: 20px;
}
.down-pinglun-list{
	border-top: 1px solid #EAEAEA;
	padding: 15px 10px;
	margin: 20px 20px 0px 20px ;
}
.down-pinglun-list:last-of-type{
	border-bottom: 1px solid #EAEAEA;
}
.down-pinglun-huifu{
	display: block;
	float: right;
	color: #3281DE;
}
/*下载页面css结束*/


/* 分享弹出层css开始 */
.share-modal{
	margin:20px auto;
	background:#fbfbfb;
	border:1px solid #F8F8F9;
}
.share-modal div{
	margin:40px 20px;
}
.share-modal button{
	border:none;
	border-radius:5px;
	background-color:#3281DE;
	color:#fff;
	padding:8px 13px;
	margin-right:15px;
}



/* 私密分享css开始 */
.share-modal-simi{
	margin:20px auto;
	background:#fbfbfb;
	border:1px solid #F8F8F9;
	padding:20px;
}

.share-modal-simi button{
	border:none;
	border-radius:5px;
	background-color:#3281DE;
	color:#fff;
	padding:8px 13px;
}
.share-modal-simi input{
	width:450px;
	height:30px;
	border-radius:5px;
	padding:10px;
	border:1px solid #A9A9A9;
}
.share-modal-simi p,.share-modal-simi input,.share-modal-simi button{
	margin:10px 0px;
}
/* 私密分享css结束 */
/* 公开分享css开始 */
.share-modal-gongkai{
	margin:20px auto;
	background:#fbfbfb;
	border:1px solid #F8F8F9;
	padding:20px;
}


.share-modal-gongkai-con{
	border:1px solid #F8F8F9;
	background:#fff;
	padding:20px;
}
.share-modal-gongkai-con span{
	display:block;
	color:#2E99F2;
	font-size:18px;
}
.share-modal-gongkai-con input{
	width:300px;
	margin-right:10px;
	height:30px;
}
.share-modal-gongkai-con button{
	border:none;
	border-radius:5px;
	background-color:#3281DE;
	color:#fff;
	padding:8px 13px;
}
.share-modal-gongkai-con p{
	margin-top:5px
}

/* 公开分享css结束 */
/* 分享弹出层css结束 */









